* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.navBar {
  width: 100vw;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #2c0e3a;
}
.topImage {
  width: 130px;
  height: 30px;
}
.scoreDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.scoreName {
  color: white;
}
.score {
  color: #fec653;
}
.timerImg {
  width: 15px;
  height: 15px;
}
.time {
  color: #fec653;
}
.contentDiv {
  width: 100vw;
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.firstDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.bigImage {
  width: 500px;
  height: 300px;
}
.tabElements {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.tabButton {
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.highlightText {
  color: #fec653;
}
.thumbnailImages {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.imageButton {
  width: 90px;
  height: 90px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thumbnailImage {
  width: 90px;
  height: 90px;
}
.secondDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 450px;
  height: 600px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  background-size: cover;
}
.trophyImage {
  width: 280px;
  height: 220px;
}
.mainHeading {
  color: white;
}
.yourScore {
  color: white;
}
.playButton {
  background: #cf60c8;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.restart {
  width: 15px;
  height: 15px;
}
